AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
NEXTAUTH_URL=http://localhost:3000
GITHUB_WRITE_TOKEN=
GITHUB_OWNER=huayou712-maker
GITHUB_REPO=sdet-learning-roadmap
GITHUB_CONTENT_BRANCH=main
ALLOWED_GITHUB_LOGIN=huayou712-maker
NEXT_PUBLIC_SITE_NAME=SDET Learning OS
NEXT_PUBLIC_SITE_URL=http://localhost:3000
